@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');

:root {
    /* Palette Colors */
    --raisin-black: #191c26; 
    --rich-black: #111319; 
    --cadet-blue-crayola: #a9afc3; 
    --han-purple: #4831d2; 
    --fuzzy-wuzzy: #de6868; 
    --ny-pink: #e89494; 
    --maximum-blue: #63a3bb; 
    --languid-lavender: #d2c7d5; 
    --alice-blue: #f4f9fc; 
    --alice-blue-matte: #edf2f8; 
    --prussian-blue: #10345c; 
    --bottle-green: #006241; 

    /* Considering */
    --powder-blue: #a1cdce; 
    --orange-red-crayola: #ff605c; 
    --maximum-yellow-red: #ffbd44; 
    --dark-pastel-green: #00ca4e; 
}

* {
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
    font-family: "Poppins", sans-serif; 
    font-weight: 200; 
}

body {
    background-color: var(--raisin-black); 
}

/* Chrome Scrollbar change width */
::-webkit-scrollbar {
    width: 3px;
}
  
::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(155, 155, 155, 0.5);
    border-radius: 20px;
    border: transparent;
}