.footer-container {
    display: flex; 
    background-color: var(--rich-black); 
    color: var(--alice-blue); 
}

.footer-left {
    flex: 1; 
    margin: 10px; 
    padding: 10px; 
    display: flex; 
    justify-content: flex-start; 
    align-items: center; 

    h3 {
        font-size: 12px; 
    }

    @media screen and (max-width: 768px) {
        flex: 6
    }
}

.footer-right {
    flex: 1; 
    margin: 10px; 
    padding: 10px; 
    display: flex; 
    justify-content: flex-end; 
    align-items: center; 

    a {
        color: inherit; 
        display: flex;
        justify-content: center; 
        align-items: center; 
        
        svg {
            width: 25px; 
            height: 25px; 
        }
    }
}